@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Silkscreen&display=swap');

* { font-family: 'Silkscreen', cursive; }

body {
    background-color: #111113 !important;
}

header {
    background-color: #474952;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 { font-size: 2rem; font-weight: 100; color: #000;}

#Principal {
    margin-top: 80px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 100% !important;
    max-width: 500px !important;
    min-height: 450px !important;
    background-color: #474952 !important;
    padding: 3rem 2rem;
    transition: 0.3s;
    border-radius: 10px !important;
}

.screen {
    border: none;
    width: 370px;
    height: 80px;
    border-radius: .5rem;
    background-color: #ffffff;
    font-size: 2.5rem;
    font-weight: 200;
    cursor: none !important;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.separate {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btnn {
    width: 90px !important;
    height: 100px !important;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid #474952;
    background-color: #ffffff;
    font-weight: 100;
    font-size: 1.5rem;
    font-family: 'Silkscreen', cursive;
}

 .active {
    background-color: #262832 !important;
    color: #fff;
}

input:hover {
    background-color: #262832;
    border-color: #18f8a1;
    color: #ffffff;
    font-weight: 900;
}
